a2wsgi==1.10.10
adal==1.2.7
adbc_driver_manager==1.9.0
adbc_driver_postgresql==1.9.0
adbc_driver_sqlite==1.9.0
aesara==2.9.4
anywidget==0.9.21
AppKit==0.2.8
atheris==3.0.0
authlib==1.6.6
blobfile==3.1.0
bokeh==3.8.1
boto3==1.42.10
botocore==1.42.10
brotli==1.2.0
brotlicffi==1.2.0.0
capturer==3.0
chardet==5.2.0
checks==0.2
clr==1.0.3
cog==0.16.8
ConfigParser==7.2.0
contextlib2==21.6.0
controlnet_aux==0.0.10
cryptography==46.0.3
ctypes_snappy==1.03
cudf==0.6.1.post1
curio==1.6
cx_Oracle==8.3.0
cycler==0.12.1
Cython==3.2.3
dask_expr==2.0.0
defusedxml==0.7.1
diffusers==0.36.0
docutils==0.22.3
duckdb==1.4.3
email_validator==2.3.0
eval_type_backport==0.3.1
evaluate==0.4.6
exceptiongroup==1.3.1
fastai==2.8.6
fastapi_cli==0.0.16
fastparquet==2024.11.0
flint==0.0.1
Foundation==0.1.0a0.dev1
fqdn==1.5.1
freezegun==1.5.5
gitdb_speedups==0.1.0
gmpy2==2.2.2
gradio==6.1.0
grandalf==0.8
grpc_tools==1.0.0
gunicorn==23.0.0
h2==4.3.0
hf_transfer==0.1.9
hf_xet==1.2.0
hnswlib==0.8.0
HTMLParser==0.0.2
hypothesis==6.148.7
ibis==3.3.0
InquirerPy==0.3.4
InstructorEmbedding==1.0.1
ipython==8.12.3
ipywidgets==8.1.8
isal==1.8.0
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.util==15.0.0
jnius==1.1.0
JPype1==1.6.0
kerchunk==0.2.9
keyring==25.7.0
kubernetes_validate==1.34.1
langchain_anthropic==1.3.0
langchain_astradb==1.0.0
langchain_aws==1.1.0
langchain_azure_ai==1.0.4
langchain_cohere==0.5.0
langchain_community==0.4.1
langchain_deepseek==1.0.1
langchain_elasticsearch==0.4.0
langchain_experimental==0.4.1
langchain_fireworks==1.1.0
langchain_google_genai==4.0.0
langchain_google_vertexai==3.2.0
langchain_groq==1.1.1
langchain_huggingface==1.2.0
langchain_ibm==1.0.2
langchain_mistralai==1.1.1
langchain_mongodb==0.9.0
langchain_neo4j==0.6.0
langchain_nvidia_ai_endpoints==1.0.0
langchain_openai==1.1.3
langchain_perplexity==1.1.0
langchain_pinecone==0.2.13
langchain_postgres==0.0.16
langchain_qdrant==1.1.0
langchain_together==0.3.1
langchain_weaviate==0.0.6
langchain_xai==1.1.0
langchainhub==0.1.21
langsmith_pyo3==0.1.0rc5
librosa==0.11.0
loop==1.0.0
lxml==6.0.2
lz4==4.4.5
lzmaffi==0.3.0
matchpy==0.5.5
modin==0.37.1
monotonic==1.6
mpi4py==4.1.1
mtrand==0.1
multiset==3.2.0
neural_compressor==3.6
numexpr==2.14.1
nvtx==0.2.14
oauth2client==4.1.3
objgraph==3.6.2
odfpy==1.4.1
olefile==0.47
onnx==1.20.0
onnx_graphsurgeon==0.5.8
onnxruntime_extensions==0.14.0
onnxscript==0.5.6
openapi_pydantic==0.5.1
optimum==2.0.0
outcome==1.3.0.post0
parameterized==0.9.0
paramiko==4.0.0
pickle5==0.0.12
pkgutil_resolve_name==1.3.10
plotly==6.5.0
polars==1.36.1
polygraphy==0.49.26
psutil==7.1.3
py==1.11.0
py3nvml==0.2.7
pycares==5.0.0
pycosat==0.6.6
pycurl==7.45.7
pydy==0.8.0
pygit2==1.19.0
pyglet==2.1.11
pygraphviz==1.14
PyInstaller==6.17.0
pymc==5.26.1
pymc3==3.11.6
pyodide==0.0.2
pyOpenSSL==25.3.0
pyperf==2.9.0
pyppeteer==2.0.0
PyQt4==4.11.4
PyQt5==5.15.11
PyQt6==6.10.1
pysat==3.2.2
PySide6==6.10.1
pyspark==4.1.0
pysqlcipher3==1.2.0
python_calamine==0.6.1
python_multipart==0.0.20
python_socks==2.8.0
pyu2f==0.1.5
pyxlsb==1.0.10
qtpy==2.4.3
rapidfuzz==3.14.3
requests_kerberos==0.15.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
s3fs==2025.12.0
safetensors==0.7.0
sage==0.0.0
scipy==1.16.3
scipy_doctest==2.0.1
sentry_sdk==2.47.0
setuptools==78.1.1
setuptools_scm==9.2.2
simplejson==3.20.2
simsimd==6.5.3
slack_sdk==3.39.0
smbprotocol==1.15.0
snowflake==1.10.0
socksio==1.0.0
speedups==1.4.0
sqlcipher3==0.5.4
sqlframe==3.43.8
symengine==0.14.1
tensorboardX==2.6.4
tensorrt==10.14.1.48.post1
text2vec==1.3.8
tf2onnx==1.16.1
tf_keras==2.20.1
theano==1.0.5
threadpoolctl==3.6.0
torch==2.9.1
torch_xla==2.9.0
traitlets==5.14.3
ujson==5.11.0
uri_template==1.3.0
url_parser==3.0.3
urllib3_secure_extra==0.1.0
uv==0.9.17
vegafusion==2.0.3
verboselogs==1.7
webcolors==25.10.0
Werkzeug==3.1.4
wsaccel==0.6.7
wsproto==1.3.2
xarray==2025.12.0
xlrd==2.0.2
xlsxwriter==3.2.9
xmlrpclib==1.0.1
yarl==1.22.0
